[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
[submodule "carla"]
	path = carla
	url = https://github.com/carla-simulator/carla.git
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
[submodule "reinforcement-learning"]
	path = reinforcement-learning
	url = https://github.com/carla-simulator/reinforcement-learning.git
