absl-py==1.0.0
auditwheel==5.1.0
cachetools==4.2.4
carla==0.9.13
certifi==2021.10.8
charset-normalizer==2.0.9
dictor==0.1.7
distro==1.6.0
elementpath==2.4.0
ephem==4.1.3
google-auth==2.3.3
google-auth-oauthlib==0.4.6
GPUtil==1.4.0
grpcio==1.43.0
idna==3.3
imageio==2.13.5
importlib-metadata==4.10.0
Markdown==3.3.6
networkx==2.6.3
numpy==1.21.5
oauthlib==3.1.1
opencv-python==4.5.5.62
opencv-python-headless==4.5.2.52
packaging==21.3
Pillow==8.4.0
protobuf==3.19.1
psycopg2-binary==2.9.3
py-trees==0.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.2
pyelftools==0.27
pygame==2.1.2
pyparsing==3.0.6
PyWavelets==1.2.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.19.1
scipy==1.7.3
Shapely==1.8.0
simple-watchdog-timer==0.1.1
six==1.16.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tifffile==2021.11.2
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
xmlschema==1.9.2
zipp==3.7.0
